@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "Home page";

}
@inject IOptions<SystemConfig> _config;
@model HomeViewModel
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-md-5 col-lg-4 col-xl-5">
                <div class="site-heading">
                    <h2>@_config.Value.AppName</h2>
                    <span class="subheading">@_config.Value.AppSlogan</span>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 col-xl-5 px-4">
                <div class="site-heading">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="@_config.Value.BackendApiUrl/MainImage/gioithieu-1.jpg" class="d-block w-100" alt="...">
                                @* <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div> *@
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="@_config.Value.BackendApiUrl/MainImage/gioithieu-3.jpg" class="d-block w-100" alt="...">
                                @* <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Some representative placeholder content for the second slide.</p>
                                </div> *@
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="@_config.Value.BackendApiUrl/MainImage/gioithieu-2.jpg" class="d-block w-100" alt="...">
                                @* <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Some representative placeholder content for the third slide.</p>
                                </div> *@
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
   
    <div class="row gx-4 gx-lg-5 justify-content-center">

            @foreach (var item in Model.LatestPosts)
            {
                <div class="col col-md-10 col-lg-8 col-xl-3">
                <div class="post-preview">
                    <div>
                        <img width="300" height="180" src="@_config.Value.BackendApiUrl@item.Thumbnail" />
                        <a href="@string.Format(UrlConsts.PostDetails,item.Slug)" title="@item.Name">
                            <h2 class="post-title">@item.Name</h2>
                        </a>
                        <h5 class="post-subtitle">@item.Description</h5>
                    </div>
                    
                    @* <p class="post-meta">
                Posted by
                <a href="@string.Format(UrlConsts.Author,item.AuthorUserName)">@item.AuthorName</a>
                on @item.DateCreated.ToLongTimeString()
                </p> *@
                </div>
                </div>
                
            }
            <!-- Pager-->
    </div>
    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="@UrlConsts.Posts">Older Posts →</a></div>

</div>